/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* =============================================================================
   HTML5 element display
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio[controls], canvas, video { display: inline-block; *display: inline; *zoom: 1; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Force vertical scrollbar in non-IE
 * 3. Remove Android and iOS tap highlight color to prevent entire container being highlighted
 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 * 4. Prevent iOS text size adjust on device orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */

html { font-size: 100%; overflow-y: scroll; -webkit-overflow-scrolling: touch; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

/* 
 * These selection declarations have to be separate
 * No text-shadow: twitter.com/miketaylr/status/12228805301
 * Also: hot pink!
 */

::-moz-selection { background: #900; color: #fff; text-shadow: none; }
::selection { background: #900; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * Improve image quality when scaled in IE7
 * code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */

img { border: 0; -ms-interpolation-mode: bicubic; }

/*
 * Correct overflow displayed oddly in IE9 
 */

svg:not(:root) {
    overflow: hidden;
}


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

/* 
 * Remove inner padding and border in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ 
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* Remove default vertical scrollbar in IE6/7/8/9 */
textarea { overflow: auto; vertical-align: top; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }

/* =============================================================================
   Embeded fonts
   ========================================================================== */
@font-face {
  font-family: "Lucida Sans Unicode";
  src: url('../fonts/lsansuni.ttf');
}

@font-face {
  font-family: "Gotham Black";
  src: url('../fonts/Gotham/Gotham-Black.ttf');
}

@font-face {
  font-family: "Gotham Thin";
  src: url('../fonts/Gotham/Gotham-Thin.ttf');
}

@font-face {
  font-family: "Inception";
  src: url('../fonts/inception-webfont.eot');
  src: url('../fonts/inception-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/inception-webfont.woff') format('woff'),
       url('../fonts/inception.ttf') format('truetype'),
       url('../fonts/inception-webfont.svg#InceptionRegular') format('svg');
}

/* =============================================================================
   Primary styles
   Author: 
   ========================================================================== */

/** Global skeleton, main header and footer **/
body {
  font-family: "Lucida Sans Unicode";
}

header, footer {
  position: fixed;
  width: 100%;
  overflow: hidden;
  background: -moz-linear-gradient(top, #3D4850 3%, #313d45 4%, #232B30 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#3D4850), color-stop(4%,#313d45), color-stop(100%,#232B30));
  box-shadow: 0 0 10px #333333;
  opacity: 0.95;
}

header, footer,
  header a:link, header a:active, header a:visited,
  footer a:link, footer a:active, footer a:visited {
  color: #9fa8b0;
  text-transform: uppercase;
  font-weight: bold;
}

header a:link, header a:active, header a:visited,
  footer a:link, footer a:active, footer a:visited {
  color: #9fa8b0;
  display: inline-block;
  text-decoration: none;
  padding: 6px 11px;
  background: none;
}

header a:hover, footer a:hover {
  padding: 5px 10px;
  color: #cccccc;
  border: 1px solid #1C252B;
  border-radius: 3px;
  background: -moz-linear-gradient(top, #20282D 3%, #252E34 51%, #222A30 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#20282D), color-stop(51%,#252E34), color-stop(100%,#222A30)); /* webkit */
/*  background: -moz-linear-gradient(top, #515B62 3%, #444E55 5%, #394147 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#515B62), color-stop(5%,#444E55), color-stop(100%,#394147));
*/
  box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

header {
  top: 0;
  padding: 5px 40px;
  text-shadow: 1px 1px 1px #454545;
}
footer {
  bottom: 0;
  font-size: 0.8em;
}
footer ul {
  display: table;
  width: 100%;
  margin: 5px 0;
}
footer ul > li {
  list-style: none;
  display: table-cell;
}

div#main {
  padding: 42px 0;
}

h1 {
  text-align: center;
}
h1, h2, h3 {
  letter-spacing: 0.5em;
  text-transform: uppercase;
}

/** Breadcrumb */
header li {
  display: inline-block;
}
header li:first-child:before {
  content: "" !important;
}
header li:before {
  content: "> ";
  font-weight: bold;
  color: #666;
}

/** Home */
body.home {
  background: url('../images/inception-background.jpg') no-repeat center center fixed;
}

.home h1 {
  margin-top: 85px;
  line-height: 1.6em;
  text-shadow: 0 1px #ffffff;
}
.home h1 > strong {
  font-family: "Gotham Black", "Lucida Sans Unicode";
  letter-spacing: normal;
  font-weight: 100;
  display: block;
  font-size: 3em;
  text-shadow: 0 3px #ffffff;
}
.home h2 {
  margin-top: 50px;
}
.home div#main > * {
  text-align: center;
}
#about div#main > div, .home div#menu div  {
  border-radius: 5px;
  background: rgba(32, 40, 45, 0.3);
}
#about div#main > div {
  width: 800px;
  padding: 10px;
  margin: 20px auto;
}

#about > p {
  width: 500px;
  margin: 0 auto;
  font-size: 1.1em;
}

.home div#menu {
  width: 930px;
  margin: 50px auto;
}
.home div#menu div {
  width: 300px;
  float: left;
  margin: 5px;
}
.home div#menu div > p:first-child {
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 20px;
  margin: 3px auto;
  background: rgba(255, 255, 255, 0.2);
}

.home div#menu h2 {
  letter-spacing: normal;
  font-family: "Gotham Black";
  margin: 0;
  padding-top: 10px;
}
.home div#menu h2 a:link, .home div#menu h2 a:active,
  .home div#menu h2 a:visited {
  text-decoration: none;
  color: #222222;
  -moz-transition: color 500ms ease;
}
.home div#menu h2 a:hover {
  color: #cccccc !important;
}

.home div#menu h2:hover {
  padding-bottom: 0;
}
.home div#menu h2:hover + article,
  .home div#menu article:hover {
  height: 150px;
}
.home div#menu article {
  overflow: hidden;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -wekit-box-sizing: border-box;
  height: 0px;
  padding: 0 2px 10px 2px;
  -moz-transition: height 500ms ease-in;
  -webkit-transition: height 500ms ease-in;
  -o-transition: height 500ms ease-in;
}
.home div#menu article p:first-child {
  margin-top: 10px;
}

/** Bio */
#timeline {
  padding-top: 3px;
  width: 100%;
  overflow: hidden;
}
#timeline .hr {
  margin: 0;
  border: 3px #cccccc solid;
}
#timeline > ol {
  margin: 0;
  padding: 0 0 0 40px;
  list-style: none;
  position: relative;
  bottom: 11px;
  display: table;
}
#timeline > ol > li {
/*  width: 300px; /* This value is overriden by the Js property */
  display: table-cell;
}
#timeline > ol > li > a {
  display: block;
  width: 10px;
  height: 10px;
  line-height: 0px;
  border-radius: 8px;
  text-decoration: none;
  background-color: rgba(255, 0, 0, 1);
  border: 3px white solid;
  -moz-transition: background-color 500ms ease;
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
}
#timeline > ol > li > a:hover {
  background-color: rgba(0, 0, 255, 1);
}
#timeline > ol > li h2 > a {
  color: #000000;
  text-decoration: none;
}
#timeline h2 {
  font-family: "Gotham Black";
  letter-spacing: normal;
  margin: 0;
}
#timeline p {
  margin: 0;
}

#bio nav a.prev, #bio nav a.next {
  text-decoration: none;
  color: red;
  background-color: rgba(100, 100, 100, 0.2);
  font-size: 80px;
  font-family: "Gotham Thin";
  display: inline-block;
  text-align: center;
  line-height: 90px;
  width: 80px;
  height: 80px;
  border-radius: 50px;
  position: fixed;
  margin: 40px 20px 0 20px;
  top: 50%;
  z-index: 100;
  -moz-transition: background-color 200ms ease-in;
  -webkit-transition: background-color 200ms ease-in;
  transition: background-color 200ms ease-in;
}
#bio nav a.next {
  right: 0;
}
#bio nav a.prev:hover, #bio nav a.next:hover {
  background-color: rgba(100, 100, 100, 0.5);
}

#scene {
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -wekit-box-sizing: border-box;
  overflow: hidden;
  height: 410px;
  position: absolute;
  top: 50%;
  margin-top: -155px;
}

#scene > div {
  width: 100000px;
}
#scene > div > div {
  float: left;
  padding: 0 150px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#scene section {
  /**
   * Chrome 17 : box-sizing: border-box and display: table doesn't wotk
   * together (bug #103543), I've to add a blank parent div...
   */
  display: table;
}
#scene section aside, #scene section article {
  display: table-cell;
}
#scene section aside {
  vertical-align: middle;
  width: 40%;
  text-align: right;
  padding: 0 15px;
}

/** Parallax effect styles (dynamically applied) */
.parallax_moving {
  position: relative;
  right: 0px;
  -moz-transition: right 1500ms ease;
  -webkit-transition: right 1500ms ease;
  transition: right 1500ms ease;
}

/** Cine */
.cine section {
  overflow: none;
}
.cine aside {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 0.9em;
}
.cine aside > ol {
  list-style: none;
  padding: 0;
}
.cine aside > ol > li {
  background-color: #444444;
  box-shadow: 0px 0px 3px #333333;
  color: #F5F5F5;
  border-radius: 5px;
  margin: 1em 0;
  padding: 5px;
  
}
.cine aside > ol > li h3 {
  letter-spacing: 0;
  margin: 0;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}

/** Sidebar */
body.rightbar article {
  width: 98%;
  margin: 0 auto;
}
body.rightbar article > section {
  width: 74.359%;
  float: left;
}
body.rightbar article > aside {
  float: left;
  width: 23.0769%;
  margin-left: 2.5641%;
}

/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
